.container{
  margin-top: 5%;
}
.card-title {
  text-align: center;
}
.card {
  opacity: 0.9;
  margin-left: 20%;
  width: 20rem;
}

.pagination {
  justify-content: center;
  margin-top: 10%;
}

.description:hover {
  text-decoration: none;
  text-align: center;
  color: #72cbaa;
}

.card-link {
  color: #ff2238;
}

.card-link:hover {
  color: #72cbaa;
}
.chosen{
  background-color: #72cbaa;
}
.chosen:hover{
  background-color: #ff2238 ;
}
.button-box {
   text-align:center;
   margin-top:20%;
}
