{#<!DOCTYPE html>#}
{#{% load static %}#}
{#{% load render_bundle from webpack_loader %}#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    {% render_bundle 'fe/tasklist' 'css' %}#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#    <h1>homepage</h1>#}
{#    <div id="taskcomponent"></div>#}
{##}
{#{% render_bundle 'fe/tasklist' 'js' %}#}
{#</body>#}
{#</html>#}
{% extends 'base/base.html' %}

{% block head %}
    {% load static %}
    {% load render_bundle from webpack_loader %}

    {% render_bundle 'fe/tasklist' 'css' %}
{% endblock head %}
{% block mainbody %}

    <h1>homepage</h1>
    <div id="taskcomponent"></div>

{% endblock %}
{% block javascript %}
    {% render_bundle 'fe/tasklist' 'js' %}
{% endblock javascript %}
