body {
  background-image: url("../images/girl_with_ballon.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;
}
